<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" href="/tabs/feed">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create" href="/tabs/create" class="create-tab">
      <ion-icon name="add-circle" class="create-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
